<h1>Schools#new</h1>


<div class="">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for [@school, @schoolclass] do |f| %>
        <div class="row">
        <div class="col-8">Choisissez votre école
            <%= f.collection_select :school_name, School.all, :name, :name,prompt: true %>
          </div>
          <div class="col-8">Choisisez votre type de dance:
            <%= f.collection_select :type_of_dance, Dance.all, :fullname, :fullname,prompt: true %>
          </div>
          <div class="col-8">Choisisez votre niveau:
            <%= f.select :level,  options_for_select(%w[ Débutant Inter1 Inter2 Inter/Conf Confirmé]) %>
          </div>
          <div class="col-8">
            <%= f.input :beginning_of_time %>
          </div>
          <div class="col-8">
            <%= f.input :end_of_time %>
          </div>

          <div class="col-8">Choisisez le jour de votre cours:
            <%= f.select :day_of_week , options_for_select(%w[Dimanche Lundi Mardi Mercredi Jeudi Vendredi Samedi]) %>
          </div>
          <div class="col-8">
            <%= f.input :room_number %>
          </div>
          <div  class="col-8">Choisisez votre Professeur de dance:
            <%= f.collection_select :teacher_name, Teacher.all,->(p){ "#{p.first_name} #{p.last_name}" },->(p){ "#{p.first_name} #{p.last_name}" },prompt: true %>
          </div>
            <%= f.submit  class: "btn btn-super"%>
      <% end %>


    </div>
  </div>
</div>
