<h1>Mon dashboard</h1>
<!-- app/views/restaurants/index.html.erb -->
<%= link_to "Acceder au listing des ecoles", root_path %>
<% if @room.include?(@room[0]) %>
  <table border="1px solid black">
    <tr>
      <th>&nbsp;</th>
        <% @schoolday_1.each do |schoolday| %>
          <th><%= schoolday %></th>
        <% end %>
    </tr>
      <tr >
        <td><%= @cours_h1[0] %></td>
        <% for t in 1..@v  %>
          <td><%= @cours_h1[t].level %><p><%= @cours_h1[t].teacher_name %><p><%= @cours_h1[t].type_of_dance %><p><%= @cours_h1[t].day_of_week %></td>
        <% end  %>
      </tr>
      <tr >
        <td><%= @cours_h2[0] %></td>
        <% for t in 1..@v  %>
          <% if @cours_h2[t] == "" %>
            <td>&nbsp;</td>
          <% else %>

            <td><%= @cours_h2[t].level %><p><%= @cours_h2[t].teacher_name %><p><%= @cours_h2[t].type_of_dance %><p><%= @cours_h2[t].day_of_week %></td>
          <% end %>
        <% end  %>
      </tr>
      <tr >
        <td><%= @cours_h3[0] %></td>
        <% for t in 1..@v  %>
          <% if @cours_h3[t] == "" %>
            <td>&nbsp;</td>
          <% else %>

            <td><%= @cours_h3[t].level %><p><%= @cours_h3[t].teacher_name %><p><%= @cours_h3[t].type_of_dance %><p><%= @cours_h3[t].day_of_week %></td>
          <% end %>
        <% end  %>
      </tr>
      <tr >
        <td><%= @cours_h4[0] %></td>
        <% for t in 1..@v  %>
          <% if @cours_h4[t] == "" %>
            <td>&nbsp;</td>
          <% else %>

            <td><%= @cours_h4[t].level %><p><%= @cours_h4[t].teacher_name %><p><%= @cours_h4[t].type_of_dance %><p><%= @cours_h4[t].day_of_week %></td>
          <% end %>
        <% end  %>
      </tr>
  <tr>
    <td><%= @endtime_1 %></td>
  </tr>
</table>
<% end %>
