<h1>Mon dashboard</h1>
<!-- app/views/restaurants/index.html.erb -->
<%= link_to "Acceder au listing des ecoles", root_path %>
<table>
  <tr>
   <th>&nbsp;</th>
    <% if @room.include?(1)  %>
      <% @schoolday_1.each do |schoolday| %>
        <th><%= schoolday %></th>
      <% end %>
    <% end %>
  </tr>
      <tr>
    <% @begintime_1.each do  | begintime | %>
        <td><%= begintime %></td>
        <% @schoolday_1.each do |dayschool|  %>
        <% @schoolclasses.each do |schoolclasses|  %>
          <% if schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[0]) && begintime.include?(@begintime_1[0]) && schoolclasses.day_of_week.include?(dayschool) %>
           <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
           <% elsif schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[1]) && begintime.include?(@begintime_1[1]) && schoolclasses.day_of_week.include?(dayschool) %>
           <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
          <% end  %>
          <% end %>
          <% end %>
      </tr>
    <% end %>
</table>
<table>
  <tr>
   <th>&nbsp;</th>
    <% if @room.include?(2)  %>
      <% @schoolday_2.each do |schoolday| %>
        <th><%= schoolday %></th>
      <% end %>
    <% end %>
  </tr>
  <% @begintime_2.each do  | begintime | %>
    <tr>
    <td><%= begintime %></td>
    <% @schoolclasses.each do |schoolclasses|  %>
          <% if schoolclasses.room_number == 2 %>
            <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
          <% end  %>
    <% end  %>
    </tr>
  <% end %>
</table>
<table>
  <tr>
   <th>&nbsp;</th>
    <% if @room.include?(3)  %>
      <% @schoolday_3.each do |schoolday| %>
        <th><%= schoolday %></th>
      <% end %>
    <% end %>
  </tr>
  <% @begintime_3.each do  | begintime | %>
    <tr>
    <td><%= begintime %></td>
    <% @schoolclasses.each do |schoolclasses|  %>
          <% if schoolclasses.room_number == 3 %>
            <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
          <% end  %>
    <% end  %>
    </tr>
  <% end %>
</table>
