<h1>Mon dashboard</h1>
<!-- app/views/restaurants/index.html.erb -->
<%= link_to "Acceder au listing des ecoles", root_path %>
<ul>
  <% @schoolclasses.each do |schoolclass| %>
    <li>Nom du professeur: <%=  schoolclass.teacher_name %></li>
    <li>Jour de la semaine: <%=  schoolclass.day_of_week %></li>
    <li>Type de dance: <%=  schoolclass.type_of_dance %></li>
    <li>Niveau: <%=  schoolclass.level %></li>
    <li><%= schoolclass.beginning_of_time.strftime("Heure de début: %H:%M") %></li>
    <p></p>
  <% end %>
</ul>
