<h1>Mon dashboard</h1>
<!-- app/views/restaurants/index.html.erb -->
<%= link_to "Acceder au listing des ecoles", root_path %>
  <table>
  <tr>
    <th>&nbsp;</th>
    <% @schoolday.each do |schoolday| %>
    <th><%= schoolday %></th>
    <% end  %>
  </tr>
  <tr>
      <% @schoolclasses.each do |schoolclasses|  %>
      <% if schoolclasses.room_number == 1  %>

        <td><%= schoolclasses.beginning_of_time.strftime("%H:%M") %></td>
        <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
      <% elsif schoolclasses.room_number == 2 %>
        <td><%= schoolclasses.beginning_of_time.strftime("%H:%M") %></td>
        <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %><%= schoolclasses.room_number  %></td>
      <% else %>
        <td><%= schoolclasses.beginning_of_time.strftime("%H:%M") %></td>
        <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
      <% end  %>
  </tr>
      <% end  %>
</table>
