<p><%= @schoolclass.teacher_name %></p>
<li><%= @schoolclass.day_of_week %></li>
<li><%= @schoolclass.type_of_dance %></li>
<li><%= @schoolclass.level %></li>
<li><%= @schoolclass.school_name %></li>
<li><%= @schoolclass.beginning_of_time %></li>
<li><%= @schoolclass.end_of_time %></li>
