<% @schoolday_1.each do |dayschool| %>
          <% @schoolclasses.each do |schoolclasses| %>
            <% if schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[0]) && begintime.include?(@begintime_1[0]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% elsif schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[1]) && begintime.include?(@begintime_1[1]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% elsif schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[2]) && begintime.include?(@begintime_1[2]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% elsif schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[3]) && begintime.include?(@begintime_1[3]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% end %>
          <% end %>
        <% end %>




                <!-- @cours_h1-->
        <!--<% @schoolday_1.each do |dayschool| %>
          <% @schoolclasses.each do |schoolclasses| %>
            <% if schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[0]) && begintime.include?(@begintime_1[0]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% elsif schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[1]) && begintime.include?(@begintime_1[1]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% elsif schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[2]) && begintime.include?(@begintime_1[2]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% elsif schoolclasses.room_number == 1 && schoolclasses.beginning_of_time.strftime("%H:%M").include?(@begintime_1[3]) && begintime.include?(@begintime_1[3]) && schoolclasses.day_of_week.include?(dayschool) %>
              <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level %><p> <%= schoolclasses.type_of_dance %> <%= schoolclasses.day_of_week %></td>
            <% end %>
          <% end %>
        <% end %>-->

        <!--
<table>
  <tr>
   <th>&nbsp;</th>
    <% if @room.include?(2)  %>
      <% @schoolday_2.each do |schoolday| %>
        <th><%= schoolday %></th>
      <% end %>
    <% end %>
  </tr>
  <% @begintime_2.each do  | begintime | %>
    <tr>
    <td><%= begintime %></td>
    <% @schoolclasses.each do |schoolclasses|  %>
          <% if schoolclasses.room_number == 2 %>
            <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
          <% end  %>
    <% end  %>
    </tr>
  <% end %>
</table>
<table>
  <tr>
   <th>&nbsp;</th>
    <% if @room.include?(3)  %>
      <% @schoolday_3.each do |schoolday| %>
        <th><%= schoolday %></th>
      <% end %>
    <% end %>
  </tr>
  <% @begintime_3.each do  | begintime | %>
    <tr>
    <td><%= begintime %></td>
    <% @schoolclasses.each do |schoolclasses|  %>
          <% if schoolclasses.room_number == 3 %>
            <td><%= schoolclasses.teacher_name %><p><%= schoolclasses.level  %><p> <%= schoolclasses.type_of_dance  %> <%= schoolclasses.room_number  %></td>
          <% end  %>
    <% end  %>
    </tr>
  <% end %>
</table> -->

for countbegintime in 0..@countbegintime
  for countclass in 0..@countclass
    time_condition = @schoolclasses[countclass].beginning_of_time.strftime("%H:%M").include?(@begintime_1[countbegintime])

    if time_condition
      # Use an array to store the result instead of creating individual variables
      arr_cours_h = SchoolClass.where(school_id: @school.id).where(beginning_of_time: @begintime_1[countbegintime])
      instance_variable_set("@arr_cours_h#{countbegintime}", arr_cours_h)
    end
  end
end

User
@countbegintime = @begintime_1.count - 1
@countclass = @schoolclasses.count - 1

for countbegintime in 0..@countbegintime
  for countclass in 0..@countclass
    time_condition = @schoolclasses[countclass].beginning_of_time.strftime("%H:%M").include?(@begintime_1[countbegintime])

    if time_condition
    # Initialize an array to store the results
    @arr_cours_h"#{countbegintime}" = []
      # Add the result to the array
      @arr_cours_h"#{countbegintime}" << SchoolClass.where(beginning_of_time: @begintime_1[countbegintime])
    end
  end
end
