<h1>Teachers#new</h1>
<p>Find me in app/views/teachers/new.html.erb</p>

<div class="">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for(@teacher) do |f| %>
        <div class="row">
          <div class="col-8">
            <%= f.input :first_name %>
          </div>
          <div class="col-8">
            <%= f.input :last_name %>
          </div>
          <div class="col-8">
            <%= f.input :date_of_birth %>
          </div>
          <div class="col-8">
            <%= f.input :phone_number %>
          </div>
          <div class="col-8">
            <%= f.input :address_mail %>
          </div>
          <div class="col-8">
            <%= f.collection_check_boxes(:specialty, Dance.all,:fullname,:fullname,checked: true) %>
          </div>
          <%= f.submit  class: "btn btn-super"%>
      <% end %>
    </div>
  </div>
</div>