<h2><%= @teacher.first_name %></h2>
<p><%= @teacher.last_name %></p>
<p><%= @teacher.date_of_birth %></p>
<p><%= @teacher.phone_number %></p>
<p><%= @teacher.address_mail %></p>
<p><% @teacher.dances.each do |dance| %></p>
<p><%= dance.fullname %></p>
<p><% end %></p>
<%= link_to "Retour à l'index des profs", school_teachers_path %>
<% if @school.school_id == nil  %>
  <%= link_to "Mettre à jour ce professeur",edit_school_teacher_path(@school,@teacher) %>
  <%= link_to "Supprimer ce professeur de mon école", school_teacher_path(@school,@teacher), data: {turbo_method: :delete, turbo_confirm: "Are you sure"}  %>
<% end  %>
