<h1>Schools#new</h1>


<div class="">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for(@school) do |f| %>
        <div class="row">
          <div class="col-8">
            <%= f.input :name %>
          </div>
          <div class="col-8">
            <%= f.input :address,
              input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
            %>
          </div>
          <div class="col-8">
            <%= f.select :type_of_structure,  options_for_select(%w[ Société Association]) %>
          </div>
          <div class="col-8">
            <%= f.input :approval_number %>
          </div>
          <div class="col-8">
            <%= f.input :phone_number %>
          </div>
          <div class="col-8">
            <%= f.input :address_mail_pdt %>
          </div>
          <div class="col-8">
            <%= f.input :phone_number_pdt %>
          </div>
          <div class="col-8">
            <%=  f.hidden_field :school_id,  :value => params[:school_id] %>
          </div>
          <div class="col-8">
            <%= f.input :number_room %>
          </div>
                <%= f.submit  class: "btn btn-super"%>
      <% end %>
    </div>
  </div>
</div>
